/* ================================================================ *\
	#Footer
\* ================================================================ */

.footer {
  background: #15141a;
  color: #444348;
  text-align: center;
  padding: 45px 0 0 0;
}

.copyright {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.copyright a {
  color: #444348;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.copyright a:hover {
  color: #fff;
}

.footer-socials {
  margin-bottom: 12px;

  ul {
    display: inline-block;
    list-style: none outside none;

    i:hover {
      color: #0f6674;
      cursor: pointer
    }
  }

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 7px 16px 0 14px;
  }

  .link-behance:hover {
    color: #fff
  }

  .link-dribbble:hover {
    color: #ff69b4
  }

  .link-facebook:hover, .link-linkedin:hover, .link-twitter:hover {
    color: #0f7edb
  }
}