/* ================================================================ *\
	#Contacts
\* ================================================================ */

.section-contacts { padding: 50px 0 0;  background: #ededed; text-align: center;
.section-title:after { margin: 30px auto; }
}

.contacts { padding: 30px 0 59px;
 .icon { margin-bottom: 26px; }
 a { color: #999; }
 a:hover { color: #008ed6; text-decoration: none; }
}

.form-contacts-outer { position: relative; z-index: 50; height: 296px;
.form-contacts { position: absolute; left: 0; top: 0; width: 100%; padding: 60px 72px 40px; background: #15141a;
 .form-group { margin-bottom: 20px; }
 .form-control { background: transparent; border-color: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 0.2); }
 textarea.form-control { height: 190px; }
 .form-control:focus { border-color: #fff; color: #fff; }
 .has-error .form-controls > * { border-color: #f00; }
  }
}

.form-contacts .form-actions { text-align: right; }

iframe { height: 370px; width: 100% }