.header { min-height: 640px; background: #15141a url(../img/back-header.png) no-repeat 0 0; background-size: cover;
  .header-container{  background: rgba(0, 0, 0, 0.6) url(../img/back-header.png) no-repeat 0 0}
}

.navbar { margin-bottom: 26px; }
.navbar > .container .navbar-brand { height: 18px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2px;
  margin: 35px 0 0;
  width: 120px;
  text-transform: uppercase;
  color: #ffffff;}
.nav {font-size: 16px;font-weight: 600;margin: 27px 0 0 0;}
.nav > li > a {color: #fffefe; padding: 10px 23px 0px 2px;}
.nav > li:last-child{
  a{padding: 10px 0px}}
.nav > li > a:hover,
.nav > li > a:focus { background: transparent; }
.nav > li > a:after {content: '';display: block;width: 42px;height: 2px;margin: 8px auto 0;background: transparent;border-width: 0 20px;border-style: solid;border-color: transparent;}
.nav > li > a:after {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.nav > .active > a:after,
.nav > li > a:hover:after,
.nav > li > a:focus:after { border-color: #008ed6; }
.navbar-toggle { border: 1px solid rgba(255, 255, 255, 0.2);
.icon-bar{background-color: #fff;}
}
.navbar-toggle:active { background: rgba(255, 255, 255, 0.2); }

.jumbotron { background: transparent; padding: 0; margin: 0; min-height: 535px;}
.jumbotron-content { padding-top: 48px; }
.jumbotron-image { display: table-cell; height: 535px; text-align: right; width: 100%; vertical-align: bottom;}
.jumbotron-image img { width: 100%; margin: 0px 0px 0px 93px;}
.jumbotron h5 { color: #008ed6; font-size: 14px; font-weight: bold; text-transform: uppercase; word-spacing: 20px; }
.jumbotron h1 { margin: 15px 0 19px; color: #fff; font-size: 47px; letter-spacing: 1px}
.jumbotron p { font-size: 18px; margin-right: 20px; }
.jumbotron-actions { margin-top: 60px; font-size: 0;  padding-top: 2px; }
.jumbotron-actions .btn + .btn { margin-left: 20px; }

.jumbotron-form-contacts { margin: 17px 0; padding: 27px 40px; background: #fff; }
.jumbotron-form-contacts .form-head { margin-bottom: 31px; }
.jumbotron-form-contacts .form-head p { font-size: 14px; }
.jumbotron-form-contacts .form-head h3 { margin: 0; }
.jumbotron-form-contacts .form-group { margin: 20px 0 0; }
.jumbotron-form-contacts .form-body  { margin-bottom: 15px; }

.subscribe { margin: 53px 0 20px; }
.form-control-subscribe { display: inline-block; vertical-align: middle; margin: 10px 6px; max-width: 230px; background: transparent; border-color: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 0.2); text-transform: none; }
.form-control-subscribe:focus { border-color: #fff; color: #fff; }